RESEND_API_KEY=re_jXdGhvqB_Cii4BwmMzH8mJsnxbwjQx4WJ
COMPANY_EMAIL=info@vetaps.com
COMPANY_NAME=VETAP
FROM_EMAIL="VETAP <info@vetaps.com>"
SITE_URL=https://vetaps.com

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ppuvrzkrqvkkkwrfzyus.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwdXZyemtycXZra2t3cmZ6eXVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2NTk3OTUsImV4cCI6MjA3OTIzNTc5NX0.VEtUfRVt4hFwGzGOKEcmQD12GGnATuo65FvuOlLlLHw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwdXZyemtycXZra2t3cmZ6eXVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzY1OTc5NSwiZXhwIjoyMDc5MjM1Nzk1fQ.QmrbivVeGDEf_1jHKliJ0QRlRIeIcQ07qpBu7Z38FSM